---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ClientRouter, slide } from 'astro:transitions'
import { GoogleAnalytics } from 'astro-google-analytics'
import { siteConfig } from '../config'
import WebsiteSchema from '../components/schemas/WebsiteSchema.astro'
import OrganizationSchema from '../components/schemas/OrganizationSchema.astro'

interface Props {
  title: string
  description?: string
}

const { title, description = 'Temukan data dan insight pendidikan Indonesia di EduDataCenter' } = Astro.props
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="keywords" content="data pendidikan, transformasi pendidikan, edukasi digital, literasi data, edukasi Indonesia, kebijakan pendidikan" />
    <meta name="publisher" content="EduCentrals" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-Robots-Tag" content="index, follow" />
    <title>{title}</title>
    <link rel="canonical" href={Astro.url.href} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    {siteConfig.googleAnalysis && <GoogleAnalytics id={siteConfig.googleAnalysis} />}
    <WebsiteSchema />
    <OrganizationSchema />
    <slot name="head" />
    <ClientRouter />
  </head>
  <body class="min-h-screen bg-white dark:bg-gray-900">
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
      <Header transition:persist />
      <main class="py-12" transition:animate={slide({ duration: '.3s' })}>
        <slot />
      </main>
      <Footer transition:persist />
    </div>
  </body>
</html>
